@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbars {
    scrollbar-width: none;
    -ms-overflow-style: none;
  
    &::-webkit-scrollbar {
      display: none;
    }
  
    &::-moz-scrollbar {
      display: none;
    }
  
    &::-ms-scrollbar {
      display: none;
    }
  }